<div id="gamearea">
    <div class="container-fluid">
        <div class="row">

            <!-- ////=============== GAMECARD AREA-->
            <div class="col-xs-9 col-sm-3">
                <table class="gamecard">
                    <tbody>
                    </tbody>
                </table>
                <div>
	                <button class="new-game-button">Start New Game</button>
	            </div>
            </div>

            <!-- ////=============== DICES AREA -->
            <div class="col-xs-3">
                <div class="dices-container-main">
                    <a class="btn btn-success btn-md" role="button" id="throwBtn">Kasta</a>
                    <div class="dice-container"><img src="" alt="" class="dice-img"></div>
                    <div class="dice-container"><img src="" alt="" class="dice-img"></div>
                    <div class="dice-container"><img src="" alt="" class="dice-img"></div>
                    <div class="dice-container"><img src="" alt="" class="dice-img"></div>
                    <div class="dice-container"><img src="" alt="" class="dice-img"></div>
                </div>
            </div>

        </div>
    </div>
</div>
